:root {
    --primary-color: #d32f2d;
    --secondary-red: #EE293A;
    --white-color: #ffffff;
}

.boaccount-button {
    background-color: var(--primary-color);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% {
        background-color: var(--primary-color);
        -webkit-box-shadow: 0 0 2px var(--primary-color);
    }
    50% {
        background-color: var(--secondary-red);
        -webkit-box-shadow: 0 0 8px var(--secondary-red);
    }
    100% {
        background-color: var(--primary-color);
        -webkit-box-shadow: 0 0 2px var(--primary-color);
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: var(--primary-color);
        -moz-box-shadow: 0 0 2px var(--primary-color);
    }
    50% {
        background-color: var(--secondary-red);
        -moz-box-shadow: 0 0 8px var(--secondary-red);
    }
    100% {
        background-color: var(--primary-color);
        -moz-box-shadow: 0 0 2px var(--primary-color);
    }
}

@-o-keyframes glowing {
    0% {
        background-color: var(--primary-color);
        box-shadow: 0 0 2px var(--primary-color);
    }
    50% {
        background-color: var(--secondary-red);
        box-shadow: 0 0 8px var(--secondary-red);
    }
    100% {
        background-color: var(--primary-color);
        box-shadow: 0 0 2px var(--primary-color);
    }
}

@keyframes glowing {
    0% {
        background-color: var(--primary-color);
        box-shadow: 0 0 2px var(--primary-color);
    }
    50% {
        background-color: var(--secondary-red);
        box-shadow: 0 0 8px var(--secondary-red);
    }
    100% {
        background-color: var(--primary-color);
        box-shadow: 0 0 2px var(--primary-color);
    }
}

.live-button {
    background-color: var(--white-color);
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing1 1500ms infinite;
    -moz-animation: glowing1 1500ms infinite;
    -o-animation: glowing1 1500ms infinite;
    animation: glowing1 1500ms infinite;
}

@-webkit-keyframes glowing1 {
    0% {
        background-color: var(--white-color);
        -webkit-box-shadow: 0 0 2px var(--primary-color);
    }
    50% {
        background-color: var(--white-color);
        -webkit-box-shadow: 0 0 8px var(--secondary-red);
    }
    100% {
        background-color: var(--white-color);
        -webkit-box-shadow: 0 0 2px var(--primary-color);
    }
}

@-moz-keyframes glowing1 {
    0% {
        background-color: var(--white-color);
        -moz-box-shadow: 0 0 2px var(--primary-color);
    }
    50% {
        background-color: var(--white-color);
        -moz-box-shadow: 0 0 8px var(--secondary-red);
    }
    100% {
        background-color: var(--white-color);
        -moz-box-shadow: 0 0 2px var(--primary-color);
    }
}

@-o-keyframes glowing1 {
    0% {
        background-color: var(--white-color);
        box-shadow: 0 0 2px var(--primary-color);
    }
    50% {
        background-color: var(--white-color);
        box-shadow: 0 0 8px var(--secondary-red);
    }
    100% {
        background-color: var(--white-color);
        box-shadow: 0 0 2px var(--primary-color);
    }
}

@keyframes glowing1 {
    0% {
        background-color: var(--white-color);
        box-shadow: 0 0 2px var(--primary-color);
    }
    50% {
        background-color: var(--white-color);
        box-shadow: 0 0 8px var(--secondary-red);
    }
    100% {
        background-color: var(--white-color);
        box-shadow: 0 0 2px var(--primary-color);
    }
}